	<div class="w3ls_dresses_grid_left_grid">
						<div class="dresses_img_hover">
							<img src="{{BASE_URL}}/images/56.jpg" alt=" " class="img-responsive" />
							<div class="dresses_img_hover_pos">
								<h4>For Kids <span>40%</span><i>Discount</i></h4>
							</div>
						</div>
					</div>