<div class="faq">
		<div class="container">	
			<div class="w3l_faq_grids">
				<div class="w3l_faq_grid">
					<h1>Cara Belanja </h1>
					<br/>
					<h2>Pembelian Jam Tangan Via Online :</h2>
					<br/>



					<h3> 1. Pilih jam tangan yang pengen kamu beli  </h3>
					<h3> 2. Klik Add To Cart  </h3>


					<img src="{{BASE_URL}}/images/tutorial/addtocart.png" style="border:1px dashed silver" />
					<br/>
					<br/>

					<h3>3. Lihat logo keranjang belanja pojok kanan atas, terus Klik</h3>

					<img src="{{BASE_URL}}/images/tutorial/cart.png"  style="border:1px dashed silver" />
					<br/>
					<br/>

					<h3>4. Klik aja</h3>
					<h3>5. Masuk Halaman Cart, Klik Checkout Ke Pembayaran</h3>
					<img src="{{BASE_URL}}/images/tutorial/keranjang.png" style="border:1px dashed silver" />

					<br/>
					<br/>

					<h3>6. Isikan Form Order di halaman checkut, Setelah itu klik checkout</h3>
					 
					<img src="{{BASE_URL}}/images/tutorial/checkout.png" style="border:1px dashed silver" />

					
					<br/>
					<br/>

					<h3>7. Customer kami akan mengirim invoice ke alamat email anda & SMS / Whatsapp ke Nomor Handphone ada</h3>

				</div>
			 
			</div>
		</div>
	</div>