<div class="faq">
		<div class="container">	
			<div class="w3l_faq_grids">
				<h1>FAQ </h1>
				<br/>
				<div class="w3l_faq_grid">
					<h3> 1. Apakah barang Ready Stok Gan ? </h3>
					<p>Barang dietalase kami jamin 95% READY STOK :)
						<br/>karena kami setiap hari akan gudangkan barang2 yg habis / kosong, sehingga tidak ada lagi dietalase :)

						<br/>jadi barang yg tidak ada dietalase / berada digudang dipastikan out of stok ya, jangan ditanyakan lagi :)</p>
				</div>

				<div class="w3l_faq_grid">
					<h3>2. Kapan Restock Gan ?</h3>
					<p> 


						 Untuk barang yg habis kami tidak bisa memastikan kapan barang akan kembali restock :)

						 <br/>

						kami akan memberitahu anda bila barang restock dengan kami share kembali foto barang tersebut pada halaman utama etalase kami :)




					</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>3. Ada Garansi ga gan?</h3>
					<p> 
						Untuk jam KW toko kami TIDAK MEMBERIKAN GARANSI.

							<br/>Untuk jam Original biasanya ada garansi 3bln - 1th dr merk masing2 :)

					</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>4. Kira - kira sampainya berapa hari ya gan?</h3>


					<p> Untuk estimasi pengiriman JNE YES 1hari sampai, untuk JNE REG sesuai dengan wilayahnya masing-masing.</p>
				</div>
			 
			</div>
		</div>
	</div>