	<div class="footer">

		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>Contact</h3>
					<p> </p>
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Kestalan, Solo, Central Java </li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">cs@carijamtangan.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>081 385 800 400</li>
						<li><i class="glyphicon glyphicon-home" aria-hidden="true"></i>Senin - Sabtu | 09.00 - 18.00</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Information</h3>
					<p style="text-align:justify"><strong>CARIJAMTANGANDOTCOM </strong>merupakan distributor jam tangan berbagai Merek / Brand dengan beragam model. Kami memiliki visi memberikan pelayanan terbaik untuk kemudahan customer</p>
					<ul class="info"> 
						<li><a href="/tentang-kami">Tentang Kami</a></li>
						 
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Menu</h3>
					<ul class="info"> 
						<li><a href="/brand/watch/all-product">All Product</a></li>
						<li><a href="/brand/watch/all-hot-sale">Hot Sale </a></li>
						<li><a href="/cara-belanja">Cara belanja</a></li>
						<li><a href="/faq">FAQ</a></li>
				
						
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Profile</h3>
					<ul class="info">
		{#			<img src="{{BASE_URL}}/images/logo/verified-seal.svg" width="50%"/> #}
					{#<img src="{{BASE_URL}}/images/logo/comodo_secure_seal_100x85_transp.png"/>#}
					
<script language="JavaScript" type="text/javascript">
TrustLogo("https://www.carijamtangan.com/images/logo/comodo_secure_seal_100x85_transp.png", "CL1", "none");
</script>
{#<a  href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>#}
					</ul>
					<h4>Follow Us</h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll"><img src="{{BASE_URL}}/images/arrow.png" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p><strong>&copy; 2018 CARIJAMTANGANDOTCOM  | All Right Reserved.</strong></p>
			</div>
		</div>
	</div>