<!-- about -->
	<div class="about">
		<div class="container">	
			<div class="w3ls_about_grids">
				<div class="col-md-6 w3ls_about_grid_left">
					<p style="font-size:13pt;"><b>CARI JAM TANGAN DOT COM </b>merupakan distributor jam tangan berbagai Merek/Brand dengan beragam model dari Jam Digital, Jam Analog, Jam Sport, <i>Smart Watch</i> dari mulai produk original maupun KW semua tersedia.</p>
					<div class="col-xs-2 w3ls_about_grid_left1">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 w3ls_about_grid_left2">
						<p style="font-size:13pt;">Kami senantiasa memberikan pelayanan terbaik lewat customer service kami yang siap menerima pertanyaan dari anda selama jam kerja</p>
					</div>
					<div class="clearfix"> </div>
					<div class="col-xs-2 w3ls_about_grid_left1">
						<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 w3ls_about_grid_left2">
						<p style="font-size:13pt;">Kami memberikan garansi pengembalian uang jika barang tidak sesuai / rusak selama pengiriman sesuai ketentuan yang berlaku.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3ls_about_grid_right">
					<img src="{{BASE_URL}}/images/logo/watch-about-us.png" alt=" " class="img-responsive" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //about -->