 
  
        <footer class="footer_area" style="padding: 24px 0 50px;z-index: 99">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_footer_area" style="margin-bottom: 10px;">
                          <!--   <div class="footer-logo">
                                <img src="img/core-img/logo.png" alt="">
                            </div> -->
                            <div class="footer-logo">
                               <center> <h6 style="text-align: center;font-size:11px;padding-top:20px;">&copy 2019 carijamtangandotcom | All Right Reserved</h6></center>
                               </div>
                             
                        </div>
                             <div class="line"></div>
                    </div>



                    <!-- Single Footer Area Start -->
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2" style="">
                        <div class="single_footer_area" style="margin-bottom: 10px;">
                            <ul class="footer_widget_menu">
                                <li><a href="{{ BASE_URL }}">Home</a></li>
                                <li><a href="{{ BASE_URL }}/watch/brand/all-">Hot Sale</a></li>
                                <li><a href="#">New Product</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area" style="margin-bottom: 10px;">
                            <ul class="footer_widget_menu">
                                <li><a href="#">Keranjang Belanja</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Faq</a></li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
                <div class="line"></div>

                <!-- Footer Bottom Area Start -->
                <div class="footer_bottom_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer_social_area text-center">
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
     